table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.course-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.course-row:not(.example-expanded-row):active {
    background: #efefef;
}

.course-row td {
    border-bottom-width: 0;
}

.course-detail {
    overflow: hidden;
    display: flex;
}



.detail-header {
    font-weight: bold;
    margin-top: 10px;
}

td button {
    margin-left: 25px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

.gpa {
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpa mat-card-content mat-icon {
   transform: scale(3);
   margin-bottom: 40px;
}

.gpa_score {
    font-size: 70px;
}

.gpa .subtext {
    margin-top: 30px;
    font-size: 1.2em;
}

td button,
th button {
    margin-left: 25px;
}
