<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="{{column.key}}"
    [class]="(column.key != 'student' && column.key != 'letter_grade') ? 'gradebook-column-input' : 'gradebook-column'"
     *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>
            {{column.headerText}}
            <ng-container *ngIf="column.key != 'student' && column.key != 'letter_grade'">
                <br>
                {{column.pointsPossible}} points
                <br>
                Due: {{column.dueDate | date: 'shortDate'}}
            </ng-container>
        </th>
        <td mat-cell *matCellDef="let studentRow of studentRows; let i = renderIndex;">
            <ng-container *ngIf="column.key == 'student'">
                {{studentRow[column.key].first_name}}
                {{studentRow[column.key].last_name}}
            </ng-container>

            <ng-container *ngIf="column.key == 'letter_grade'">
                <!-- Possible: {{studentRow.totalPointsPossible}}
                <br>
                Earned: {{studentRow.totalPointsEarned}}
                <br> -->
                {{studentRow.letter_grade}}
            </ng-container>

            <ng-container *ngIf="column.key != 'student' && column.key != 'letter_grade'">

               <!--  Possible: {{studentRow[column.key].points_possible}}
                <br>
                Saved: {{studentRow[column.key].points_earned}}
                <br>
                Entered: {{studentRow[column.key].points_entered}} -->

                <form novalidate>
                    <mat-form-field>
                        <mat-label>Points</mat-label>

                        <input matInput type="number" name="{{studentRow.student.id}}|{{column.key}}"
                            id="{{studentRow.student.id}}|{{column.key}}"
                            [(ngModel)]="studentRow[column.key].points_entered">

                        <!-- <button matSuffix mat-icon-button aria-label="Clear"
                            (click)="studentRows[column.key].points_entered=''">
                            <mat-icon>close</mat-icon>
                        </button> -->

                        <button matTooltip="Save Grade"
                            [disabled]="studentRow[column.key].points_entered === studentRow[column.key].points_earned || studentRow[column.key].points_entered < 0"
                            matSuffix mat-icon-button aria-label="Save" (click)="submitGrade(studentRow.student.id, column.key, i, studentRow)">
                            <mat-icon class="mat-mdc-icon-button save-grade">verified</mat-icon>
                        </button>

                    </mat-form-field>
                </form>


            </ng-container>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnDefsToDisplay"></tr>
    <tr mat-row *matRowDef="let studentRow of studentRows; columns: columnDefsToDisplay;"></tr>
</table>
