table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.course-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.course-row:not(.example-expanded-row):active {
    background: #efefef;
}

.course-row td {
    border-bottom-width: 0;
}

.course-detail {
    overflow: hidden;
    display: flex;
}

.detail-header {
    font-weight: bold;
    margin-top: 10px;
}


td button, th button {
    margin-left: 25px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

span.full-course, span.almost-full-course, span.open-course {
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

span.full-course {
    color: #64748b;
    background-color: #e2e8f0;
}

span.almost-full-course {
    color: #d97706;
    background-color: #fef3c7;
}

span.open-course {
    color: #059669;
    background-color: #d1fae5;
}
