<div *ngIf="sessionHandler.loggedIn">
    <form [formGroup]="credentialForm" novalidate>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Title / Description" formControlName="jobTitle"
                                [(ngModel)]="credential.job_title">
                            <mat-error *ngIf="credentialForm.controls['jobTitle'].hasError('required')">
                                Title/Description is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Type or Abbreviation" formControlName="rank"
                                [(ngModel)]="credential.rank">
                            <mat-error *ngIf="credentialForm.controls['rank'].hasError('required')">
                                Type or Abbreviation is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Category" formControlName="credentialType"
                                [(value)]="credential.credential_type" [ngModel]="credential.credential_type">
                                <mat-option *ngFor="let type of types" [value]="type">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="credentialForm.controls['credentialType'].hasError('required')">
                                Category is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Subject Field" formControlName="subjectAbbreviation"
                                [(value)]="credential.subject_abbreviation" [ngModel]="credential.subject_abbreviation">
                                <mat-option *ngFor="let subject of subjects" [value]="subject.abbreviation">
                                    {{ subject.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="credentialForm.controls['subjectAbbreviation'].hasError('required')">
                                Subject Field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="formButton" color="primary" type="button"
                    (click)="goBack()">Cancel</button>
                <button mat-raised-button class="formButton" color="primary" type="button" (click)="submit()">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
