<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.type}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.title}} </td>
    </ng-container>

    <ng-container matColumnDef="points_possible">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.points_possible}} </td>
    </ng-container>

    <ng-container matColumnDef="due_date">
        <th mat-header-cell *matHeaderCellDef>Due</th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.due_date}} </td>
    </ng-container>

     <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            <button *ngIf="(sessionHandler.userRole == 'teacher' || sessionHandler.userRole == 'administrator')" mat-icon-button aria-label="add assignment" routerLink="/course/{{courseId}}/assignment/create">
                <mat-icon fontIcon="library_add"></mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let assignment">
            <button *ngIf="(sessionHandler.userId == assignment.person_id || sessionHandler.userRole == 'administrator')" mat-icon-button routerLink="/course/{{courseId}}/assignment/{{assignment.id}}" aria-label="edit assignment">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>

            <button *ngIf="(sessionHandler.userId == assignment.person_id || sessionHandler.userRole == 'administrator')" mat-icon-button aria-label="delete assigment"
                (click)='openDialog(assignment.id, "Are you sure?", "Remove " + assignment.type + " " + assignment.title + "?", "Delete"); $event.stopPropagation()'>
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
