<div *ngIf="sessionHandler.loggedIn">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column.header}} </th>
            <td mat-cell *matCellDef="let assignment"> 
                {{column.key == 'due_date' ? (assignment[column.key] | date: 'shortDate') : assignment[column.key]}}
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                <button matTooltip="Add Assignment" *ngIf="(sessionHandler.userId == courseTeacherId || sessionHandler.userRole == 'administrator')"
                    mat-icon-button aria-label="add assignment" routerLink="/course/{{courseId}}/assignment/create">
                    <mat-icon fontIcon="library_add"></mat-icon>
                </button>

                <button matTooltip="Gradebook"
                    *ngIf="(sessionHandler.userId == courseTeacherId || sessionHandler.userRole == 'administrator')"
                    mat-icon-button routerLink="/course/{{courseId}}/gradebook" aria-label="gradebook">
                    <mat-icon fontIcon="verified"></mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let assignment">
                <button matTooltip="Show/Hide" mat-icon-button aria-label="expand row"
                    (click)="(expandedAssignment = expandedAssignment === assignment ? null : assignment); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedAssignment !== assignment">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedAssignment === assignment">keyboard_arrow_up</mat-icon>
                </button>
    
                <button matTooltip="Edit Assignment"
                    *ngIf="(sessionHandler.userId == courseTeacherId || sessionHandler.userRole == 'administrator')"
                    mat-icon-button routerLink="/course/{{courseId}}/assignment/{{assignment.id}}"
                    aria-label="edit assignment">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>

                <button matTooltip="Delete Assignment"
                    *ngIf="(sessionHandler.userId == courseTeacherId || sessionHandler.userRole == 'administrator')"
                    mat-icon-button aria-label="delete assigment"
                    (click)='openDialog(assignment.id, "Are you sure?", "Remove " + assignment.type + " " + assignment.title + "?", "Delete"); $event.stopPropagation()'>
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </td>
        </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let assignment" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="assignment-detail" [@detailExpand]="assignment == expandedAssignment ? 'expanded' : 'collapsed'">
                <div class="assignment-properties">
                    <div class="detail-header">{{assignment.title}}</div>
                    <div class="detail-content">{{assignment.description}}</div>

                    <div class="detail-header">Due Date:</div>
                    <div class="detail-content">{{assignment.due_date | date: 'shortDate'}}</div>

                    <div class="detail-header">Other:</div>
                    <div class="detail-content">ID: {{assignment.id}}</div>
                    <div class="detail-content">Active Assignment: {{assignment.is_active}}</div>
                    <div class="detail-content">Created: {{assignment.createdAt}}</div>
                    <div class="detail-content">Last Updated: {{assignment.updatedAt}}</div>
                </div>
            </div>
        </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let assignment; columns: columnsToDisplayWithExpand;" class="assignment-row"
            [class.expanded-row]="expandedAssignment === assignment"
            (click)="expandedAssignment = expandedAssignment === assignment ? null : assignment">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
