<!-- <div class="login-screen-container">
    <div class="login-screen-login-screen">
      <div class="login-screen-container1">
        <div class="login-screen-container2">
          <input
            type="text"
            placeholder="E-Mail"
            id="eduUNinp"
            class="login-screen-textinput input"
            name="email"
            [(ngModel)]="login.email"
          />
          <input
            type="text"
            placeholder="Password"
            id="eduPWinp"
            class="login-screen-textinput1 input"
            name="password"
            [(ngModel)]="login.password"
          />
          <button (click)="submit()" class="login-screen-button button">LOGIN</button>
        </div>
      </div>
      <h1 class="login-screen-text02">
        <span class="login-screen-text03">PLEASE LOGIN TO CONTINUE</span>
        <br />
      </h1>
      <h1 class="login-screen-text05">
        <span>EDUCATION MANAGMENT SYSTEM</span>
        <br />
      </h1>
      <h1 class="login-screen-text08">
        <span>L.A. UNIFIED SCHOOLS</span>
        <br />
      </h1>
    </div>
  </div> -->

<div>
    <div class="login-error" [ngStyle]="{'display': isError ? 'block' : 'none'}">
        Invalid Username or Password
    </div>
    <span>LOGIN:</span>
    <input type="text" placeholder="E-Mail" name="email" [(ngModel)]="login.email">
    <input type="text" placeholder="Password" name="password" [(ngModel)]="login.password">
    <button (click)="submit()">LOGIN</button>
</div>
