.login-form {
    width: 330px;
}

.login-form div,
.login-form div mat-form-field {
    width: 300px;
}
/* 
input {
    display: block;
} */

.login-error {
    color: #fff;
    background-color: #c60007;
    margin: 10px 0px;
    padding: 10px;
    display: none;
}
