<div>
    <h2>LOGIN:</h2>
    <div class="login-error" [ngStyle]="{'display': isError ? 'block' : 'none'}">
        Invalid Username or Password
    </div>
    <form class="login-form">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput required placeholder="name@example.com" [formControl]="email"  [(ngModel)]="login.email" name="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="login.password" name="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

        </div>
        <button mat-raised-button class="formButton" type="button" color="primary" (click)="submit()">LOGIN</button>
    </form>
</div>
