<div class="login-screen-container">
    <div class="login-screen-login-screen">
      <div class="login-screen-container1">
        <div class="login-screen-container2">
          <span class="login-screen-text">EDUCATOR LOGIN:</span>
          <input
            type="text"
            placeholder="USERNAME"
            id="eduUNinp"
            class="login-screen-textinput1 input"
          />
          <input
            type="text"
            placeholder="PASSWORD"
            id="eduPWinp"
            class="login-screen-textinput input"
          />
          <a routerLink="/dashboard"><button class="login-screen-button button">LOGIN</button></a>
        </div>
      </div>
      <h1 class="login-screen-text02">
        <span class="login-screen-text03">PLEASE LOGIN TO CONTINUE</span>
        <br />
      </h1>
      <h1 class="login-screen-text05">
        <span>EDUCATION MANAGMENT SYSTEM</span>
        <br />
      </h1>
      <h1 class="login-screen-text08">
        <span>L.A. UNIFIED SCHOOLS</span>
        <br />
      </h1>
    </div>
  </div>
  