/* AppComponent's private CSS styles */
h1,
h2 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0a566e;
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
    margin: 25px auto 5px auto;
}

div.site-header {
    margin: 0px;
    height: 90px;
    border-bottom: 2px solid #0a566e;
}

div.login-logout-button a {
    padding: 0.3rem;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 80px;
    right: 10px;
    width: 75px;
    color: #ffffff;
    background-color: #0a566e;
}

nav {
    position: absolute;
    width: 150px;
    height: 10000px;
    background-color: #0a566e;
}

nav a {
    padding: 0.3rem;
    text-decoration: none;
    display: block;
    color: #ffffff;
}

nav a:active, nav a:hover{
    background-color:#f5feff;
    color: #0a566e;
}

.content {
    margin: 10px 10px 10px 160px;
}

.unav-footer {
    position: fixed;
    bottom: 0px;
    left: 150px;
    width: 100%;
    font-size: 0.75em;
    color: #ffffff;
    padding: 0px 0px 0px 10px;
    background-color: #0a566e;
}
