<div class="site-header">
    <h1 class="toolbar">{{ title | uppercase }}</h1>
    <h2 class="toolbar">{{ subtitle | uppercase }}</h2>
</div>

<div class="login-logout-button">
    <a *ngIf="!sessionHandler.loggedIn" routerLink="/login">Log In</a>
    <a *ngIf="sessionHandler.loggedIn" (click)="sessionHandler.logOut()">Log Out</a>
</div>

<nav>
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/courses">Course Catalog</a>
    <a *ngIf="sessionHandler.loggedIn" routerLink="/person/{{sessionHandler.userId}}">My Classes</a>
    <a *ngIf="sessionHandler.loggedIn" routerLink="/people">Students & Staff</a>
    <a *ngIf="sessionHandler.loggedIn">Student Resources</a>
    <a *ngIf="sessionHandler.loggedIn" routerLink="/person/{{sessionHandler.userId}}">My Account</a>
    <a *ngIf="!sessionHandler.loggedIn" routerLink="/person/create">Register</a>
</nav>

<div class="content">
    <router-outlet></router-outlet>
    <!-- <app-messages></app-messages> -->
</div>

<div class="unav-footer">
IMPORTANT: This site is not affiliated with the L.A. Schools.  This is a hypothetical project for CS-492-2205B-01, Team D, at Colorado Technical University and will be decommissioned ca. Feb. 2023
</div>
