table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.person-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.person-row:not(.example-expanded-row):active {
    background: #efefef;
}

.person-row td {
    border-bottom-width: 0;
}

.person-detail {
    overflow: hidden;
    display: flex;
}

.person-properties {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
}

.person-email {
    font-weight: bold;
    line-height: normal;
}

.detail-header {
    font-weight: bold;
    margin-top: 10px;
}

td button {
    margin-left: 25px;
}
