<h2 *ngIf="isLoggedIn">Welcome, {{user.first_name}}</h2>

<div *ngIf="userRole == 'student'">
    <h2>My Courses</h2>
    <div class="classroom-card-container">
        <mat-card class="classroom-card" *ngFor="let course of courses" routerLink="/course/{{course.id}}">
            <mat-card-header>
                <mat-card-title>{{course.title}}</mat-card-title>
                <mat-card-subtitle>{{course.subject_abbreviation}} {{course.code}}
                    <span>Ends: {{course.end_date | date: 'shortDate'}}</span> </mat-card-subtitle>
                <mat-card-subtitle>Instructor: {{course.instructor!.first_name}}
                    {{course.instructor!.last_name}} <a href="mailto: {{course.instructor!.email}}"
                        title="E-mail Instructor" (click)="$event.stopPropagation()"><mat-icon
                            fontIcon="mail"></mat-icon></a></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{course.description}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="userRole == 'teacher'">
    <h2>My Courses</h2>
    <app-courses [showCourses]="'teacher'" [teacherId]="userId"></app-courses>
</div>

<div *ngIf="userRole == 'administrator'" class="admin-links">
    <h2>LAUSD Administration</h2>
    <a routerLink="/person/create">Create User</a>
    <a routerLink="/people">Manage Users</a>
    <a routerLink="/courses">Manage Courses</a>
</div>

<div *ngIf="!isLoggedIn" class="guest-intro">
    <h2>Welcome Prospective Students</h2>
    <div>
        Everyone loves cheese strings edam. Manchego emmental melted cheese cream cheese jarlsberg macaroni cheese
        macaroni cheese cheese and wine. Red leicester port-salut cheesy grin swiss halloumi port-salut camembert de
        normandie cream cheese. Fromage frais cottage cheese dolcelatte rubber cheese who moved my cheese red leicester
        cheesy grin manchego. Cheeseburger paneer the big cheese dolcelatte manchego monterey jack chalk and cheese
        goat. Jarlsberg dolcelatte cheese triangles fromage frais pepper jack red leicester port-salut swiss. Camembert
        de normandie when the cheese comes out everybody's happy croque monsieur.
    </div>
    <div>
        Cheese and wine cheddar cut the cheese. Macaroni cheese stinking bishop stinking bishop cheese and wine who
        moved my cheese fromage frais queso cheese and wine. Taleggio caerphilly cheese triangles cheese on toast chalk
        and cheese croque monsieur everyone loves cheese slices. Feta cheese slices when the cheese comes out
        everybody's happy smelly cheese cauliflower cheese bavarian bergkase parmesan who moved my cheese. Cheese and
        biscuits st. agur blue cheese st. agur blue cheese feta cut the cheese who moved my cheese blue castello brie.
        St. agur blue cheese who moved my cheese caerphilly cheese slices the big cheese cheese and biscuits.
    </div>
</div>
