html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fffffc;
    padding: 10px;
}

h2 {
    margin: 20px, 0px, 5px, 0px;
}

button.formButton {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
