html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #0a566e;
    background-color: #f5feff;
    padding: 0px;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0a566e;
    margin-bottom: 0;
}

h1 {
    font-size: 2.5em;
    margin: 25px auto 5px auto;
}

button.formButton {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
